@import "../stylesheets/fontawesome/all.min";
@import "../stylesheets/bootstrap/bootstrap.min";

// Fonts
$main-font: 'Montserrat', sans-serif;
$heading-font:'Merriweather', serif;

// Icon Colours
$github-color: #211f1f;
$linkedin-color: #4875B4;
$instagram-color: #4E433C;
$youtube-color: #FF3333;
$email-color: #0072c6;

body {
    font-family: $main-font;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading-font;
}

p {
    text-align: justify;
}

.jumbo-bg {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../img/martin-adams-1480231-unsplash_compress.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

%socialmedia-icons {
    @extend .fa-5x;
    @extend .col-sm-2;
    @extend .text-center;
    @extend .mb-2;
}

.github-icon {
    @extend %socialmedia-icons;
    @extend .fa-github;
    @extend .fab;
    color: $github-color;

    &:hover {
        color: $github-color;
    }
}

.linkedin-icon {
    @extend %socialmedia-icons;
    @extend .fa-linkedin;
    @extend .fab;
    color: $linkedin-color;

    &:hover {
        color: $linkedin-color;
    }
}

.instagram-icon {
    @extend %socialmedia-icons;
    @extend .fa-instagram;
    @extend .fab;
    color: $instagram-color;

    &:hover {
        color: $instagram-color;
    }
}

.youtube-icon {
    @extend %socialmedia-icons;
    @extend .fa-youtube;
    @extend .fab;
    color: $youtube-color;

    &:hover {
        color: $youtube-color;
    }
}

.email-icon {
    @extend %socialmedia-icons;
    @extend .fa-envelope;
    @extend .fas;
    color: $email-color;

    &:hover {
        color: $email-color;
    }
}