body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

p {
    text-align: justify;
}

.jumbotron{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Background Image with blur */
    background-image: url("img/martin-adams-1480231-unsplash.jpg");
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-attachment: fixed;
}