body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

p {
    text-align: justify;
}

.jumbotron {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("img/martin-adams-1480231-unsplash_compress.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    background-size: contain; 
    background-attachment:scroll;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    background-size: contain;
    background-attachment:scroll;
}